<%= form_for @recipe do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
  </p>


 <br><br>

   <%= f.fields_for :ingredients do |ingred| %>
   <fieldset>
     <legend>Ingredients</legend>
     <p>
        <%= ingred.label :name_1 %>
        <%= ingred.text_field :name_1 %>
        <%= ingred.label :quantity_1 %>
        <%= ingred.text_field :quantity_1 %>
      </p>
      <br><br>
    <% end %>

  <%= f.submit %>
<% end %>
